<div class="span12">
  <h1>{{ displayName }}</h1>

  <h3>
    {{ cityState }}
    {{#linkTo "country" country}}
      {{ country.title }}
    {{/linkTo}}
  </h3>
  {{#if isEditing}}
    {{partial "breweries/form"}}
  {{else}}
    {{partial "breweries/show"}}
  {{/if}}
</div>